/*Universal Styles*/

* {
    font-family: 'Raleway', sans-serif;
}
.main-content {
    position:relative;
    top: 5.1rem;
}
h1 { 
    color: #EAEBED;
    font-family: 'Passions Conflict', cursive;
    font-size: 100px;
    text-align: center;

}
h2{

}
p{

}
button {

}
.image-container {

}
.image-container img {

}


/* Header*/
header {
    position:fixed;
    width: 100%;
    z-index: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}
header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
  }
header nav ul {
    display: flex;
}
nav li {
    padding-left: 2.5rem;
}
nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: black;
}
  
header .mobile {
    display: none;
  }
@media only screen and (max-width: 895px) {
    nav li:last-child {
      display: block;
    }
  
    header .content {
      padding: 1rem 1rem;
    }
  }
@media only screen and (max-width: 760px) {
    header .desktop {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
    }
  
    header .content {
      padding: .5rem 0;
    }
  
    header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    header .mobile li {
      padding: 0;
    }
}
